# general excludes
*~
*.o
moc_*
*.moc
qrc_*
ui_*
*.a
*.so
*.so.*
*.spec
*.cfg
*.cfg.*
*.log
Makefile
Doxyfile
src/twstool
src/twsdo
src/twsgen

# specific dirs and files (auto generated at compile or run time)
bin/
conf/
html/
logs/
sample/

# core dumps etc.
.nfs*
callgrind.*
core
core*dump

# meta files from IDEs etc.
.svn/
*.kdevelop
*.kdevelop.pcs
*.kdevses
*.tag

## autotools
Makefile.in
aclocal.m4
autom4te.cache
configure
config.log
depcomp
install-sh
missing
config.h
config.h.in
config.status
build*
=build*
.deps
stamp-h1
