# twsTool Configuration File
#
# this is an example config for twsTool
# edit and copy to twsTool.cfg
# 
# Please have a look at www.hyperrealm.com/libconfig/libconfig_manual.html for syntax


dbHost = "cobain";
dbPort = 3306;
dbUser = "user";
dbPwd  = "password";

# dbUser needs write permissions here:
staticDB = "GAT_static";

useDB = false;
ibSymbolTable = "ib_contracts";

twsHost  = "cobain";
twsPort  = 7474;
clientId = 123;


conTimeout = 1000;
reqTimeout = 20000;
pacingTime = 10300;

reqExpiry = "";

downloadData = false;
reqMaxContracts = -1;
endDateTime = "20100514 16:00:00 America/Chicago";
// integer{SPACE}unit (S|D|W|M|Y)
durationStr = "4 W";
// (1|5|15|30) secs, 1 min, (2|3|5|15|30) mins, 1 hour, 1 day, 1 week, 1 month, 3 months, 1 year
barSizeSetting = "30 mins";
// comma separated list of some these strings: TRADES, MIDPOINT, BID, ASK, BID_ASK,
// HISTORICAL_VOLATILITY, OPTION_IMPLIED_VOLATILITY, OPTION_VOLUME
whatToShow = "TRADES";
useRTH = 1;
formatDate = 1;



contractSpecs = [
	"CAC40,  IND, MONEP"
// 	"CAC40,  OPT, MONEP",
// 	"DAX,    IND, DTB",
// 	"DAX,    OPT, DTB",
// 	"DJX,    IND, CBOE",
// 	"DJX,    OPT, CBOE",
// 	"ESTX50, IND, DTB",
// 	"ESTX50, OPT, DTB",
// 	"K200,   IND, KSE",
// 	"K200,   OPT, KSE",
// 	"NDX,    IND, NASDAQ",
// 	"NDX,    OPT, CBOE",
// 	"RUT,    IND, CBOE",
// 	"RUT,    OPT, CBOE",
// 	"SPX,    IND, CBOE",
// 	"SPX,    OPT, CBOE",
// 	"XEO,    IND, CBOE",
// 	"XEO,    OPT, CBOE",
// 	"Z,      IND, LIFFE",
// 	"Z,      OPT, LIFFE"
];
